<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'APPOINTMENTS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding no-data" *ngIf="appointments.length == 0">
    <div class="text">
      {{'NO_APPOINTMENTS' | translate}}
    </div>
    <ion-icon class="add" name="add"></ion-icon>
    
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="getAppointments($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

</ion-content>
