
.opening{


    .itm{
        margin: 10px; 
        padding: 10px;
        color: #6e6e6e;
        font-weight: 300;
        position: relative;
        letter-spacing: 4px;
       

        .day{
            font-size: 20px;
            margin-bottom: 20px;
        }

        .slot{
            margin-bottom: 10px;
        }
    }

    
    
    .itm.isToday{
        background-color: white;
        font-weight: 600;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        border-radius: 4px;
    }

    .todayflag{
        position: absolute;
        right: 5px;
        text-align: right;
        background-color: var(--ion-color-primary);
        color: white;
        padding: 5px;
        border-radius: 4px;
        top: -5px;
        letter-spacing: normal;
        font-size: 10px;
        font-weight: 300;
    }
}

.opening .header, 
.vacation .header{
    padding: 20px;
    color: gray;
    text-align: center;
    font-size: 12px;
    background-color: #dddddd;
}

.opening .itm.borderbottom,
.vacation .itm.borderbottom{
    border-bottom: 1px solid #dddddd;
}

.vacation{

    .itm{
        margin: 10px; 
        padding: 10px;
        color: #6e6e6e;
        font-weight: 300;
        position: relative;
        letter-spacing: 4px;
       

        .title{
            font-size: 20px;
            margin-bottom: 20px;
        }

        .slot{
            margin-bottom: 10px;
        }
    }
}