
:root {
  --ion-color-primary: #972c30;
  --ion-color-primary-rgb: 151,44,48;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #85272a;
  --ion-color-primary-tint: #a14145;

  --ion-color-secondary: #f9df85;
  --ion-color-secondary-rgb: 249,223,133;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #dbc475;
  --ion-color-secondary-tint: #fae291;

  --ion-color-tertiary: #b38c09;
  --ion-color-tertiary-rgb: 179,140,9;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #9e7b08;
  --ion-color-tertiary-tint: #bb9822;

  --ion-color-success: #76b812;
  --ion-color-success-rgb: 118,184,18;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #68a210;
  --ion-color-success-tint: #84bf2a;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #2b2b2b;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-toolbar{

  --background: var(--ion-color-primary);
  --color : white;

  ion-menu-button{
    --color : white;
  }

  ion-button{
    --color: white;
  }

  ion-buttons{
    --color: white;
  }

  ion-icon{
    --color: white;
  }

  .icon{
    color: white;
  }

}