<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!auth.isAuthorized()">

      <ion-content>

        <div class="user">

            <img class="avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">

            <div class="username">
              {{currentUserName}}
            </div>
            <div class="profile"  (click)="openProfile()">
              my{{'Profil' | translate}} <ion-icon *ngIf="userValidated" class="validated" name="checkmark" ></ion-icon> <ion-icon *ngIf="!userValidated" class="pending" name="refresh"></ion-icon>
            </div>

        </div>

        <div class="menu">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <div class="itm"  
              [routerDirection]="'root'" [routerLink]="[p.url]"
              routerLinkActive="selected"
              
              >

                {{p.title | translate}}
                <span class="beta" *ngIf="p.beta">&beta;eta</span>

            </div>
          </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">

          <div class="itm logout"  
            (click)="auth.logout();">
              {{"LOGOUT" | translate}}
          </div>
          
        </ion-menu-toggle>

        </div>

        <div class="build">

          <span>0.2.1281</span>

          <ion-icon class="settings" name="cog" (click)="openSettings()"></ion-icon>

        </div>

        <!--
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        -->


      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
