<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="closeModal()">
          <ion-icon class="icon" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{'SETTINGS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

    <ion-list>

        <ion-item>
            <ion-label position="floating"> {{'LANGUAGE' | translate}}</ion-label>
          <ion-select class="lang-input" [placeholder]="'LANGUAGE' | translate" [ngModel]="translateCfgSrv.translate.currentLang" (ngModelChange)="handleLanguageChange($event)">
              <ion-select-option [value]="l.key" *ngFor="let l of langs;">{{l.display}}</ion-select-option>
          </ion-select>
        </ion-item>
       
      </ion-list>

</ion-content>
